<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Soorya Residency</title>
</head>
<body>
    <h1>The Soorya Residency</h1>
    <img src="hotel.png"usemap="#image-map"style="width: 1000px;height:500px ;">
    <p>The Soorya Residency is a beautiful banquet hall in Chennai, Tamil Nadu. Weddings are a milestone and event that happens once in a lifetime. Everyone wants everything at their wedding to be memorable and perfect. The wedding venue speaks volumes about the event you wish to have. They are a name you should consider if you are looking for a suitable wedding venue in the city. The Soorya Residency will provide you with the best services to ensure that your wedding and its other functions are the most memorable ones. It is one of the best banquet halls in chennai</p>

</body>
</html>  