<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMAGE MAPPING</title>

</head>

<body>
    <h1>Explore Locations Around My College</h1>
    <P>Click on the marked locations to learn more about each place.</P>

    <img src="map.png" usemap="#image-map">
    <map name="image-map">
        <area target="" alt="Meenakshi Sundararajan Engineering college"
            title="Meenakshi Sundararajan Engineering college" href="meenakshi_college.html" coords="613,279,124"
            shape="circle"></area>
        <area target="" alt="Mahalingapuram Sree Ayyappan" title="Mahalingapuram Sree Ayyappan" href="temple.html"
            coords="993,218,94" shape="circle"></area>
        <area target="" alt="The Soorya Residency " title="The Soorya Residency " href="hotel.html"
            coords="1299,384,107" shape="circle"></area>
        <area target="" alt="kodambakkam railway station" title="kodambakkam railway station" href="railwaystation.html"
            coords="920,563,90" shape="circle"></area>

    </map>

</body>

</html>