<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meenakshi Sundararajan Engneering College</title>
</head>
<body>
    <h1>Meenakshi Sundararajan Engneering College </h1>
    <img src="meenakshi.png"usemap="#image-map"style="width: 1000px;height:500px;">
    <p>The Engineering College was founded in 2001 by the educationist of South India, Professor K.R.Sundararajan. Meenakshi Sundararajan Engineering College is a part of the KRS Group of Institutions which includes the Indian Institute of Technical Education (IIET, est. 1947), Meenakshi College for Women and the Meenakshi Sundararajan School of Management. Institutions dedicated to impart qualitative education and research for both under-graduate and post-graduate education in the fields of Engineering, Arts, Science, Commerce and Management.</p>
</body>
</html>
    
