<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kodambakkam railway station</title>
</head>
<body>
    <h1>Kodambakkam railway station </h1>
    <img src="kodambakkam railway station.png"usemap="#image-map"style="width:900px;height:500px;">
    <p> Kodambakkam Railway Station is a railway station on the Chennai Beach–Chengalpattu section of the Chennai Suburban Railway Network. It serves the neighbourhood of Kodambakkam, Vadapalani, and Ashok Nagar. The railway station was already in existence when the Chennai Egmore-Kanchipuram suburban railway was opened in 1911.</p>
</body>
</html>