<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahalingapuram Sree Ayyappan</title>
</head>
<body>
    <h1> Mahalingapuram Sree Ayyappan Temple</h1>
    <img src="temple.png"usemap="#image-map"style="width: 1000px;height: 500px;">
    <p>Mahalingapuram Ayyappan Temple or Mahalingapuram Ayyappan - Guruvayurappan Temples is an Ayyappan Temple located at Mahalingapuram in the neighbourhood of Nungambakkam in Chennai district in the state of Tamil Nadu in the peninsular India with the geographical coordinates of 13°03′23.0″N 80°13′54.5″E (i.e., 13.056400°N, 80.231800°E) and at an altitude of about 34 m above the mean sea level. This temple complex contains Ayyappan temple and Guruvayurappan temple adjacent to each other. And is built based on Kerala Architecture. Swamy Ayyappan appears to devotees as in a sitting posture on Srichakra with the symbol of chinmuthra, the height being about 2 ft. The temple is constructed in the year 1974.</p>
    
</body>
</html>